*.pdb
*.bin
Library
ProjectSettings
obj
AssetStoreTools
UnityVS
bin
/Unity3d.Examples/Assets/UnityVS.meta
/Unity3d.Examples/*.sln
/Unity3d.Examples/*.csproj
/Unity3d.Examples/*.unityproj
*.suo
/Unity3d.Examples/Assets/AssetStoreTools.meta
*.DotSettings
/.vs
/Unity3d.Examples/Build
/Unity3d.Examples/.vsconfig
/Unity3d.Examples/.vs
/Unity3d.Examples/Logs
